@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
     n=@ViewBag.Greeting0 <p />
     Кількість спроб=@ViewBag.Greeting6 <p />
     t=@ViewBag.Greeting1 <p />
     y=@ViewBag.Greeting7 <p />
     root=@ViewBag.Greeting2 <p />
     p=@ViewBag.Greeting4 <p />
     q=@ViewBag.Greeting5 <p />
     _n=@ViewBag.Greeting3
      
               
    </div>
</body>
</html>